body{
    background-color:black;
    color:whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    text-align: justify;
    width: 25%;
}